<div id="<%= dom_id ingredient %>">
  <p>
    <strong>Nom:</strong>
    <%= ingredient.nom %>
  </p>

  <p>
    <strong>Quantite:</strong>
    <%= ingredient.quantite %>
  </p>

  <p>
    <strong>Unite:</strong>
    <%= ingredient.unite %>
  </p>

  <p>
    <strong>Recette:</strong>
    <%= ingredient.recette_id %>
  </p>


</div>
