<!DOCTYPE html>
<html>
<head>
  <title>StudentCooking</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= favicon_link_tag asset_path('logo.ico') %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<header class="site-header">
  <%= image_tag 'logo.png', alt: 'Logo', class: 'logo' %>
  <div class="titre-et-nav">
    <h1>Recettes de cuisine pour étudiants désargentés</h1>
    <nav>
      <ul>
        <li><%= link_to 'Recettes', recettes_path %></li>
        <li><%= link_to 'A propos', about_path %></li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <%= yield %>
</main>
<footer>
  <p>&copy; 2024 Recettes de cuisine pour étudiants désargentés</p>
</footer>
</body>
</html>
